

@keyframes blurring{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.assetDetail{
    position: absolute;
    width: 95%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(83, 86, 89);
    border-radius: 10px;
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    animation: blurring 0.1s linear 1 alternate;
}
.touchBlock{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    border-radius: 7px;
}
.link p{
    display: inline;
}
.blur{
    backdrop-filter: blur(2px);
    animation: blurring 0.1s linear 1 alternate;
}
.assetDetailNav{
    width: 100%;
    height: 40px;
    background-color: rgb(83, 86, 89);
    border-radius: 10px 10px 0 0;
}
.assetDetailCont{
    padding: 0 15px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 55px);
    text-align: left;
    line-height: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.assetDetailBack{
    padding: 8px;
    font-size: 24px;
    line-height: 28px;
    height: 24px;
    width: 24px;
    float: left;
}

.assetDetailTitle{
    padding: 8px;
    line-height: 24px;
    width: calc(100% - 96px);
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.valueChangeGraphCont{
    text-align: center;
}
.assetDetailCont table td:nth-child(1),td:nth-child(2){
    width: 1%;
    white-space: nowrap;
    text-align: center;
}
.assetDetailCont table td:nth-child(2){
    width: 12px;
}
.assetDetailCont table td:nth-child(3){
    text-align: left;
    width: calc(100% - 90px);
}
.assetDetailCont table{
    border-spacing: 0;
    table-layout: auto;
    width: calc(100% - 8px);
}
.chartWrapper{
    position: relative;
    background-color: rgb(241,237,233);
    border-radius: 5px;
    padding: 4px;
    width: calc(100% - 8px);
    margin-top: 5px;
}

