.clubPage{
    height: 100vh;
    width: 100vw;
    background-color: #222426;
    position: absolute;
    top: 0%;
    z-index: 10000;
    color: #F1EDE9;
    transition: 0.2s;
    overflow: hidden;
}

.clubHide{
    top: -100vh;
}

.clubIntroduce{
    background-color: #373B40;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px;
}
.backBtn{
    font-size: 32px;
    line-height: 32px;
    padding: 7px 8px 2px;
    float: left;
}
.noneStyleList{
    list-style: none;
}
.channelName{
    float: left;
    max-width: calc(100% - 64px);
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clubName{
    float: left;
    max-width: calc(100% - 64px);
    min-width: calc(100% - 108px);
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clubNavBar{
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    font-weight: 600;
}
.clubIntroduce li{
    margin-bottom: 5px;
}
.clubIntroduce li:nth-child(1){
    text-align: left;
}
.clubIntroduce li:nth-child(n+2){
    padding: 0 15px;
}
.clubIntroduce li:nth-child(n+4){
    text-align: left;
}
.clubIntroduce li h3{
    display: inline-block;
}
.rightCmt{
    float: right;
}
.joinClubBtn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    display: inline;
    background-color: #738CD9;
    padding: 12px 30px;
    border-radius: 30px;
}


.infoWrapper{
    height: calc(100% - 130px);
    overflow: scroll;
}

.clubInfoTopSpace{
    margin-top: 30px;
}

.chatWindowWrapper{
    left:0;
    background-color: #373B40;
    height: calc(100% - 50px);
    width: calc(100% - 10px);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
}

.clubWindowWrapper{
    transform: translateX(39%);
    background-color: #2c2f33;
    height: calc(100% - 50px);
    width: calc(70%);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
}

.channelWindowWrapper{
    left:0;
    background-color: #2c2f33;
    height: calc(100% - 50px);
    width: calc(70%);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
}
.channelView{
    left:calc(70% + 5px);
}
.clubView{
    left:calc(-70% - 5px);
}

.transition{
    transition: .1s;
}
.chatNavBar{
    border-radius: 5px 5px 0 0;
    background-color: #42464d;
    height: 35px;
    line-height: 38px;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
}
.chatInputBar{
    height: 45px;
    border-radius: 0 0 5px 5px;
    background-color: #373B40;
    overflow: hidden;
}
.chatWrapper{
    overflow-y: scroll;
    clip: auto;
    word-break: break-all;
    padding: 0 8px;
}
.circleBtn{
    height: 35px;
    width: 35px;
    margin: 5px;
    background-color: #adaaa7;
    border-radius: 20px;
    transition: 0.2s;
}
.chatInput{
    position: absolute;
    left: 90px;
    margin: 5px;
    background-color: #adaaa7;
    border-radius: 20px;
    padding: 9px 12px;
    width: calc(100% - 130px);
    border: 0;
    font-size: 15px;
    line-height: 17px;
    transition: 0.2s;
    resize: none;

}
.chatInput:focus{
    outline-color: #738CD9;
    border: 0;
}
.chatExtend{
    left: 0;
    width: calc(100% - 80px);
}
.hideBtn{
    display: none;
}
.submit{
    bottom: 0;
}