.clubPage{
    height: 100vh;
    width: 100vw;
    background-color: #222426;
    position: absolute;
    top: 0%;
    z-index: 10000;
    color: #F1EDE9;
    transition: 0.2s;
    overflow: hidden;
}

.clubHide{
    top: -100vh;
}

.clubIntroduce{
    background-color: #373B40;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px;
}
.backBtn{
    font-size: 32px;
    line-height: 32px;
    padding: 7px 8px 2px;
    float: left;
}
.noneStyleList{
    list-style: none;
}
.channelName{
    float: left;
    max-width: calc(100% - 64px);
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clubName{
    float: left;
    max-width: calc(100% - 64px);
    min-width: calc(100% - 108px);
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clubNavBar{
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    font-weight: 600;
}
.clubIntroduce li{
    margin-bottom: 5px;
}
.clubIntroduce li:nth-child(1){
    text-align: left;
}
.clubIntroduce li:nth-child(n+2){
    padding: 0 15px;
}
.clubIntroduce li:nth-child(n+4){
    text-align: left;
}
.clubIntroduce li h3{
    display: inline-block;
}
.rightCmt{
    float: right;
}
.joinClubBtn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    display: inline;
    background-color: #738CD9;
    padding: 12px 30px;
    border-radius: 30px;
}


.infoWrapper{
    height: calc(100% - 130px);
    overflow: scroll;
}

.clubIntroTopSpace{
    margin-top: 30px;
}

.chatWindowWrapper{
    left:0;
    background-color: #373B40;
    height: calc(100% - 50px);
    width: calc(100% - 10px);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
}

.clubWindowWrapper{
    transform: translateX(39%);
    background-color: #2c2f33;
    height: calc(100% - 50px);
    width: calc(70%);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
}

.channelWindowWrapper{
    left:0;
    background-color: #2c2f33;
    height: calc(100% - 50px);
    width: calc(70%);
    position: absolute;
    margin: 0 5px 5px;
    border-radius: 5px;
    text-align: left;
}
.channelWindowWrapper ul{
    list-style: none;
}
.channelWindowWrapper li{
    padding: 8px 10px;
    margin: 5px;
    transition: 0.2s;
}
.channelWindowWrapper ul li:nth-last-child(1){
    padding: 8px 10px 8px 10px;
    margin: 5px 5px 0 5px;
}
.channelWindowWrapper details{
    margin: 10px;
    padding:8px;
    background-color: #3b3e43;
    border-radius: 8px;
    transition: .2s;
}
.channelWindowWrapper summary{
    font-weight: bold;
}
.channelView{
    left:calc(70% + 5px);
}
.clubView{
    left:calc(-70% - 5px);
}

.transition{
    transition: .1s;
}
.chatNavBar{
    border-radius: 5px 5px 0 0;
    background-color: #42464d;
    height: 35px;
    line-height: 38px;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
}
.chatInputBar{
    height: 45px;
    border-radius: 0 0 5px 5px;
    background-color: #373B40;
    overflow: hidden;
}
.chatView{
    overflow-y: scroll;
    clip: auto;
    word-break: break-all;
    padding: 0 8px;
}
.circleBtn{
    height: 35px;
    width: 35px;
    margin: 5px;
    background-color: #adaaa7;
    border-radius: 20px;
    transition: 0.2s;
}
.chatInput{
    position: absolute;
    left: 90px;
    margin: 5px;
    background-color: #adaaa7;
    border-radius: 20px;
    padding: 9px 12px;
    width: calc(100% - 130px);
    border: 0;
    font-size: 15px;
    line-height: 17px;
    transition: 0.2s;
    resize: none;

}
.chatInput:focus{
    outline-color: #738CD9;
    border: 0;
}
.chatExtend{
    left: 0;
    width: calc(100% - 80px);
}
.hideBtn{
    display: none;
}
.submit{
    bottom: 0;
}
.chat{
    text-align: left;
    margin: 16px 0;
}
.chatUserPic{
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    background-color: #738CD9;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.chatContents{
    display: inline-block;
    width: calc(100% - 53px);
    margin-left: 5px;
}
.chatSenderRole{
    display: inline-block;
    font-weight: bold;
}
.sendTime{
    display: inline-block;
    font-size: small;
    color: #9f9c99;
}
.chatSender{
    display: inline-block;
    font-weight: bold;
    margin-right: 8px;
}
.editted::after{
    font-weight: bold;
    content: ' (수정)';
}
pre{
    margin-top: 5px;
    word-break: break-all;
    white-space: pre-wrap;
}

.currChannel{
    background-color: #738CD9;
    border-radius: 20px;
}

.userIcon{
    display: inline-block;
    height:1em;
    width:0.8em;
    margin-left: 3px;
    overflow:hidden ;
    border-radius: 0.1em;
}
.userIcon>div:nth-child(1){
    position: relative;
    height: 0.4em;
    width: 0.4em;
    border-radius: 1em;
    background-color: #F1EDE9;
    margin: auto;
    margin-bottom: 0.1em;
}
.userIcon>div:nth-child(2){
    position: relative;
    height: 1.5em;
    width: 0.8em;
    border-radius: 0.4em;
    background-color: #F1EDE9;
    margin: auto;
}
.channelBanner *{
    vertical-align: bottom;
}

.memberList{
    font-size: 1em;
    word-break: break-all;
    text-overflow: ellipsis;
    margin: 5px 5px 5px 10px;
}

.memberListProfilePic{
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
    border-radius: 0.7em;
    background-color: #738CD9;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    line-height: 1.4em;
}
.memberListWrapper{
    height: calc(100% - calc(7vh + 45px));
    padding: 20px 15px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}
.memberListWrapper details{
    margin: 20px 0;
}
.clubSettingWrapper{
    height: 7vh;
    background-color: #3b3e43;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
}