
.contractList {
  position: absolute;
  height: calc(100% - 45px);
  width: 100%;
  top:10px;
  background-color: #2c2f33;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contractItem{
  display:flex;
  padding: 10px 5px 10px 20px;
  text-align: center;
  margin: 0;
  font-size: large;
  font-weight: 900;
  color: #f1ede9;
  justify-content:center;
}

.contractItem input{
   color: #f1ede9;
     border: none;
     width: 150px;
     font-size: 17px;
     height: 23px;
     background: #2d3031;
     text-align:center;
}

.contractListItem{

 padding: 10px 5px 10px 20px;
 text-align: center;
 margin: 0;
 font-size: large;
 font-weight: 900;
 color: #f1ede9;
 justify-content:center;
}

.signContainer {
  background-color: #2d3031;
  margin: 7px 10px;
  width: calc(100% - 30px);
  padding: 3px 5px 13px;
  border-radius: 12px;
}

.signBoxWrap {
  border-radius: 4px;
  width: 150px;
  height: 37px;
  background: #2d3031;
}

.signBoxWrap input {
  color: #f1ede9;
  border: none;
  width: 270px;
  font-size: 21px;
  margin-left: 12px;
  margin-top: 5px;
  height: 37px;
  background: #2d3031;
  text-align:center;
}

input:focus {
  outline: none;
}

.fixedValue{
  color:#738cd9;
  padding: 10px 5px 0 20px;
  text-align: left;
  margin: 0;
  font-size: large;
  font-weight: 900;
}

.sendBtn{
  position:relative;
  padding:15px 30px;
  top:7%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  background: #738CD9;
  border: 0;
  border-radius: 100px;
  font-weight: 900;
  font-size: larger;
  color: #F1EDE9;
  font-family: Eland;
}

.contractContainer{
    margin: 10px;
    padding: 15px 15px 5px 15px;
    position: relative;
    border-radius: 15px;
    background-color: #373B40;
    text-align: left;
    top:15px;
}

.sendBtnContainer{
 display:flex;
 justify-content:center;
 padding-top:45px;
 padding-left:110px;
}

.additionalBtn{
 color:grey;
}

.placeholder{
 text-align:center;
}

.contractItemList{

}