
    @keyframes spinner {
      0% { opacity: 1 }
      100% { opacity: 0 }
    }
    .spinner div {
      left: 94px;
      top: 25px;
      position: absolute;
      animation: spinner linear 1s infinite;
      background: #738cd9;
      width: 12px;
      height: 46px;
      border-radius: 6px;
      transform-origin: 6px 75px;
    }.spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -0.9s;
      background: #738cd9;
    }.spinner div:nth-child(2) {
      transform: rotate(36deg);
      animation-delay: -0.8s;
      background: #738cd9;
    }.spinner div:nth-child(3) {
      transform: rotate(72deg);
      animation-delay: -0.7s;
      background: #738cd9;
    }.spinner div:nth-child(4) {
      transform: rotate(108deg);
      animation-delay: -0.6s;
      background: #738cd9;
    }.spinner div:nth-child(5) {
      transform: rotate(144deg);
      animation-delay: -0.5s;
      background: #738cd9;
    }.spinner div:nth-child(6) {
      transform: rotate(180deg);
      animation-delay: -0.4s;
      background: #738cd9;
    }.spinner div:nth-child(7) {
      transform: rotate(216deg);
      animation-delay: -0.3s;
      background: #738cd9;
    }.spinner div:nth-child(8) {
      transform: rotate(252deg);
      animation-delay: -0.2s;
      background: #738cd9;
    }.spinner div:nth-child(9) {
      transform: rotate(288deg);
      animation-delay: -0.1s;
      background: #738cd9;
    }.spinner div:nth-child(10) {
      transform: rotate(324deg);
      animation-delay: 0s;
      background: #738cd9;
    }
    .spinnerWrapper {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      top: calc(50% - 100px);
      transform: scale(0.5);
    }
    .spinner {
      width: 100%;
      height: 100%;
      position: relative;
      backface-visibility: hidden;
    }