
.login_btn{
    position: absolute;
    padding:15px 30px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    height: fit-content;
    background: #738CD9;
    border: 0;
    border-radius: 100px;
    font-weight: 900;
    font-size: larger;
    color: #F1EDE9;
    font-family: Eland;
}
.topCmt{
    position: relative;
    top: 35%;
}
.botCmt{
    font-size: small;
    position: relative;
    top:55%;
}
.signinBtnWrapper{
    position: relative;
    top:55%;
}
.signinBtn{
    font-weight: 600;
    text-decoration-line: underline;
    color: #738CD9;
    padding: 10px;
}